<table class="table">
    <thead>
        <tr *ngIf="students.length > 0; else noStudent">
            <th>student Id</th>
            <th>student Name</th>
            <th>student Score</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students" [ngStyle]="{'background-color': getBackgroundColor()}">
            <td>{{s.studentId }}</td>
            <td>{{s.studentName | titlecase}}</td>
            <td [ngClass]="{color: s.studentScore < 80? true: false}">{{s.studentScore/100 | percent}}</td>
        </tr>
    </tbody>
</table>
<ng-template #noStudent>
    <p class="alert alert-danger">No student in database</p>
</ng-template>
